/*
* Learn Site CSS
*
* Author: Chetan Prajapati (chetan200891)
*/

#page {
	background-color: #f1f1f1;
}

.site-branding h1 {
	color: #fff;
}

/* ___ Homepage ___ */

#page.home {
	background-color: #fff;
}

.site-header.home .site-title {
	font-size: 3.10rem;
	font-weight: 400;
	line-height: normal;
}

.site-header .site-description {
	font-size: 20px;
	max-width: 650px;
}

 .home-page .shapes {
	height: 460px;
	margin: 0 -60px;
	position: relative;
}

.home-page .shapes .parallelogram::before {
	font-size: 80px;
	height: 64px;
	left: -30px;
	position: relative;
	-webkit-transform: skew(15deg);
	-ms-transform: skew(15deg);
	transform: skew(15deg);
	width: 64px;
}

.home-page .shapes .parallelogram {
	color: #fff;
	display: block;
	margin: 0 auto;
	opacity: 0.9;
	padding: 70px 90px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	-webkit-transform: skew(-15deg);
	-ms-transform: skew(-15deg);
	transform: skew(-15deg);
	width: 50%;
}

.home-page .shapes .parallelogram.lesson-plans {
	background-color: #449b4c;
	top: 0;
	left: 30px;
	z-index: 1;
}

.home-page .shapes .parallelogram.workshop-ideas {
	background-color: #0f689c;
	right: 30px;
	top: 50px;
	z-index: 10;
}

.home-page .shapes strong {
	display: block;
	font-size: 28px;
	font-weight: 300;
	padding-bottom: 15px;
	padding-top: 15px;
}

.home-page .shapes p {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	-webkit-transform: skew(15deg);
	-ms-transform: skew(15deg);
	transform: skew(15deg);
}

.home-page .shapes u {
	display: block;
	font-size: 18px;
	padding-top: 15px;
}

.about-training {
	padding-top: 0;
}

.about-training .getin {
	margin: 0 auto;
	max-width: 700px;
	min-height: 220px;
	overflow: hidden;
	padding-left: 230px;
	position: relative;
}

.about-training .getin .graphic {
	background: url('https://wordpress.org/wp-content/themes/pub/wporg-main/images/freedoms.png') no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100%;
	background-position: 0 66%;
	height: 200px;
	left: 0;
	position: absolute;
	top: 0;
	width: 200px;
}

.lesson-lists {
	margin: 0 -15px;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 2rem;
}

.lesson-lists .lesson-item .viewmore::after {
	content: "\f345";
	font-family: dashicons;
	position: absolute;
	top: 1px;
	right: 0;
}

.lesson-lists .col {
	float: left;
	padding: 15px;
	width: 33.3333%;
}

.lesson-lists .lesson-item {
	margin-bottom: 40px;
	/* min-height: 200px; */
}

.lesson-lists .lesson-item h3 {
	font-size: 20px;
	margin: 0 0 15px 0;
}

.lesson-lists .lesson-item {
	font-size: 14px;
}

.submit-idea-cta {
	padding-top: 0;
	text-align: center;
}

.submit-idea-cta h3 {
	font-size: 30px;
	margin-bottom: 30px;
	margin-top: 0;
}

/* ___ Lesson Plans ___ */

.lp-list {
	margin: 0 -15px;
}

.lp-list .lp-item {
	display: inline-block;
	margin-bottom: 30px;
	margin-right: -4px;
	padding: 0 15px;
	vertical-align: top;
	width: 50%;
}

.lp-list .lp-item-wrap {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.1 );
	padding: 20px;
}

.lp-list .lp-item h2 {
	font-size: 20px;
	margin: 0 0 15px 0;
}

.lp-list .lp-item .lp-excerpt {
	font-size: 14px;
	margin: 0 0 15px 0;
}

.lp-list .lp-details {
	font-size: 14px;
	overflow: hidden;
}

.lp-list .lp-details .items {
	float: left;
	width: 50%;
}

.lp-list .lp-details .left-items {
	padding-right: 10px;
}

.lp-list .lp-details ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.lp-list .lp-details ul li {
	padding: 10px 0 0 30px;
	position: relative;
}

.lp-list .lp-details .dashicons {
	color: #0073aa;
	left: 0;
	position: absolute;
	top: 12px;
}

.lp-list .lp-details strong {
	display: inline-block;
	vertical-align: middle;
}

/* ___ Page ___ */

.type-page .entry-content {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.1 );
	padding: 30px;
}

/* ___ Forms ___ */

.contact-form .grunion-field-label {
	font-size: 16px;
	margin-bottom: 10px;
}

.contact-form .grunion-field-wrap {
	margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	border: 1px solid #dddddd;
	box-shadow: none;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 16px;
	margin: 0;
	max-width: 100%;
	padding: 10px;
	width: 100%;
	-webkit-appearance: none;
}

.contact-form .grunion-checkbox-multiple-label,
.contact-form .grunion-radio-label {
	font-size: 16px;
	font-weight: 400 !important;
}

.contact-form input.checkbox-multiple,
.contact-form input.radio {
	margin-bottom: 0;
}

.contact-form .pushbutton-wide {
	background: #008ec2;
	border: 1px solid #006799;
	border-radius: 3px;
	box-shadow: 0 1px 0 #006799;
	color: #fff;
	font-size: 16px;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
	padding: 5px 30px;
	-webkit-appearance: none;
}

.contact-form .pushbutton-wide:hover {
	color: #eee;
}
